<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="camera">
    <xacro:macro name="camera" params="mass *joint_origin">
        <link name="camera">
            <inertial>
                <mass value="${camera_mass}"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia
                    ixx="1e-6" ixy="0.0" ixz="0.0"
                    iyy="1e-6" iyz="0.0"
                    izz="1e-6"
                  />
            </inertial>
    
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.05 0.05 0.03"/>
                </geometry>
            </visual>
    
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.05 0.05 0.03"/>
                </geometry>
            </collision>
        </link>
    
        <link name="camera_link_optical" />
    
        <joint name="sim_camera_joint" type="fixed">
            <xacro:insert_block name="joint_origin" />
            <parent link="base_link" />
            <child link="camera" />
            <axis xyz="0 1 0" />
        </joint>
    
        <joint name="camera_optical_joint" type="fixed">
            <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
            <parent link="camera" />
            <child link="camera_link_optical" />
        </joint>
    
        <gazebo reference="camera">
            <material>Gazebo/Yellow</material>
        </gazebo>
    </xacro:macro>
</robot>