[submodule "src/simulation/zed-ros2-wrapper"]
	path = src/simulation/zed-ros2-wrapper
	url = https://github.com/stereolabs/zed-ros2-wrapper.git
[submodule "src/simulation/velodyne_simulator"]
	path = src/simulation/velodyne_simulator
	url = https://github.com/ToyotaResearchInstitute/velodyne_simulator.git
