<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="constants">
    <!-- Chassis Constants -->
    <xacro:property name="chassis_length" value="${45.5*0.0254}" />
    <xacro:property name="chassis_width" value="${24*0.0254}" />
    <xacro:property name="chassis_height" value="${22*0.0254}" />
    <xacro:property name="chassis_z_offset" value="${4.375*0.0254}" />

    <xacro:property name="chassis_tower_length" value="${8*0.0254}" />
    <xacro:property name="chassis_tower_height" value="${31*0.0254}" />

    <xacro:property name="chassis_payload_length" value="${14.25*0.0254}" />
    <xacro:property name="chassis_payload_height" value="${8*0.0254}" />

    <xacro:property name="chassis_electrical_length" value="${15.25*0.0254}" />
    <xacro:property name="chassis_electrical_height" value="${22*0.0254}" />

    <xacro:property name="chassis_caster_length" value="${8*0.0254}" />
    <xacro:property name="chassis_caster_height" value="${2.25*0.0254}" />
    <xacro:property name="chassis_caster_ground_clearance" value="${2*0.0254}" />


    <!-- Wheel Constants -->
    <xacro:property name="wheel_radius" value="${6.1875*0.0254}" />
    <xacro:property name="wheel_width" value="${4*0.0254}" />
    <xacro:property name="wheel_mass" value="5" />
    <xacro:property name="track_width" value="${31*0.0254}" />


    <!-- Chassis Inertial Constants -->
    <xacro:property name="chassis_mass" value="29.9371" />
    <xacro:property name="com_x" value="${-4.0*0.0254}" />
    <xacro:property name="com_y" value="0.0" />
    <xacro:property name="com_z" value="${wheel_radius - chassis_z_offset}" />


    <!-- Caster Constants -->
    <xacro:property name="caster_x_offset" value="${-24.625*0.0254}" />
    <xacro:property name="caster_radius" value="${3.5*0.0254}" />
    <xacro:property name="caster_mass" value="0.1" />


    <!-- Camera Mount Constants -->
    <xacro:property name="camera_x_offset" value="${chassis_tower_length/2 + 2.66916*0.0254}"/>
    <xacro:property name="camera_y_offset" value="0.0"/>
    <xacro:property name="camera_z_offset" value="${chassis_z_offset + chassis_tower_height - 1.80395*0.0254}"/>
    <xacro:property name="camera_pitch_offset" value="${10 * 0.01745327777}"/>


    <!-- IMU Constants -->
    <xacro:property name="imu_x_offset" value="0.0"/>
    <xacro:property name="imu_y_offset" value="0.0"/>
    <xacro:property name="imu_z_offset" value="${chassis_z_offset + chassis_tower_height}"/>
    <xacro:property name="imu_yaw_offset" value="${-pi/2}"/>


    <!-- GPS Constants -->
    <xacro:property name="gps_x_offset" value="${3*0.0254}"/>
    <xacro:property name="gps_y_offset" value="0.0"/>
    <xacro:property name="gps_z_offset" value="${chassis_z_offset + chassis_tower_height}"/>
</robot>
